header
{
	display: flex;
	margin: 0;
	padding: 0;
	height: 40vh;
	background-color: #343A40;
	overflow: hidden;
}

header .headerContainer
{
	margin: auto;
	padding: 0;
	font-family: 'impact';
	font-size: 20vw;
	color: transparent;
	background-position: 50%;
	background: linear-gradient(90deg, rgba(255,221,114,1) 1%, rgba(255,143,31,1) 46%, rgba(255,127,33,1) 86%,rgba(255,86,0,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-stroke: 2px;
	-webkit-text-stroke-color: rgb(255, 255, 255);
	-webkit-text-fill-color: transparent;
	transform: translateY(-17%);
}

header .headerContainer:hover
{
	margin: auto;
	padding: 0;
	font-family: 'impact';
	font-size: 20vw;
	color: transparent;
	background-position: 50%;
	background-image:  url('/assets/img/bgHeader.png');
	-webkit-background-clip: text;
	background-size: cover;
	letter-spacing: 0.10em;
	-webkit-text-stroke: 2px;
	-webkit-text-stroke-color: rgb(255, 255, 255);
}

a{
	transform: scale(1);
	transition: 0.3s ease-out;
}

a:hover {
	transform: scale(1.1);
	color: #ffffff !important;
	transition: 0.3s ease-out;
}

h1{
	padding: 2rem;
	background: rgb(255,86,0);
	background: linear-gradient(90deg, rgba(255,86,0,1) 1%,
								   	   rgba(255,127,33,1) 46%,
									   rgba(255,143,31,1) 86%,
									   rgba(255,221,114,1) 100%);
	color: rgb(255, 255, 255);
}

.gallery_box_single{
	width: 100%;
	display: flex;
}

.caption-text{
	text-align: center;
}

form{
	margin-top: 200px;
	background-color: #343A40;
	border-radius: 5px;
}

button {
	margin-top: 15px;
	width: 20%;
	border-radius: 5px;
	border: 1px groove rgb(189, 190, 194);
}